@inherits LayoutComponentBase


<HeadContent>
    <RadzenTheme Theme="software" />
</HeadContent>
<div class="page">
    <main>
        <RadzenCard class="rz-p-4 rz-m-2 rz-background-color-success rz-text-align-start">
            <RadzenText class="rz-color-on-success" TextStyle="TextStyle.DisplayH5">DECT NR+</RadzenText>
        </RadzenCard>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>